@font-face {
    font-family: 'UTM-Avo';
    src: url('../fonts/UTM_AVO_REGULAR.eot');
    src: url('../fonts/UTM_AVO_REGULAR.TTF') format('truetype'),
         url('../fonts/UTM_AVO_REGULAR.otf'),
         url('../fonts/UTM_AVO_REGULAR.woff') format('woff'),
         url('../fonts/UTM_AVO_REGULAR.svg#UTM_AVO_REGULAR') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTM-Avo-Bold';
    src: url('../fonts/UTM_AVO_BOLD.eot');
    src: url('../fonts/UTM_AVO_BOLD.TTF') format('truetype'),
         url('../fonts/UTM_AVO_BOLD.otf'),
         url('../fonts/UTM_AVO_BOLD.woff') format('woff'),
         url('../fonts/UTM_AVO_BOLD.svg#UTM_AVO_BOLD') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'UTM-Avo';    
    font-size: 14px;
    background: #03223C;
}
.navbar-inverse {
    background: #03223C;
}
@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 768px) {
    .navbar-right {
        margin-right: -29px;
    }
}
.container{
    padding: 0px;
}
.navbar {
    border-radius: 0px;
    border: none;
    margin-bottom: 5px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-family: 'UTM-Avo-Bold';
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background: #00AEFF;
}
.navbar-nav>li>a {
    padding: 5px 15px;
}
.navbar-nav {
    margin-top: 45px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #36C2B9;
}
.navbar-form {
    margin-top: 40px;
}
.form-control {
    border: 1px solid #fff;
    background: transparent;
    padding: 0px 10px;
    height: 26px;
    line-height: 24px;
    color: #fff;
    border-radius: 0px;
}
.form-control::-webkit-input-placeholder { color: #fff; }
.form-control::-moz-placeholder { color: #fff; } /* firefox 19+ */
.form-control:-ms-input-placeholder { color: #fff; } /* ie */
.form-control:-moz-placeholder { color: #fff; }
.navbar-nav>li>.dropdown-menu {
    margin-top: 5px;
}
.dropdown-menu>li>a {
    font-weight: bold;
    min-width: 185px;
    margin: 0 30px;
    padding: 7px 0px;
    border-bottom: 1px solid #BFBEBE;
}
.dropdown-menu>li:last-child>a{
    border-bottom: none;
}
.dropdown-menu>li>a:hover{
    color: #0F5FA7;
    background: transparent;
}
.navbar-brand {
    padding: 15px 0px 0px 0px;
    margin-right: 70px;
}
.navbar-header {
    min-height: 96px;
}